<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-flex">
                <div
                  class="flex-grow-1 bg-login-image"
                  style="background-image: url('assets/img/avatars/admin-login.png');"
                ></div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h4 class="text-dark mb-4">Welcome Back!</h4>
                  </div>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="user">
                    <!-- Email Input -->
                    <div class="mb-3">
                      <input
                        class="form-control form-control-user"
                        type="email"
                        id="email"
                        placeholder="Enter Email Address..."
                        formControlName="email"
                        [class.is-invalid]="
                          loginForm.get('email')?.invalid &&
                          (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
                        "
                      />
                      <div
                        *ngIf="
                          loginForm.get('email')?.invalid &&
                          (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
                        "
                        class="invalid-feedback"
                      >
                        <small>
                          <span *ngIf="loginForm.get('email')?.hasError('required')">
                            Email is required.
                          </span>
                          <span *ngIf="loginForm.get('email')?.hasError('email')">
                            Invalid email address.
                          </span>
                        </small>
                      </div>
                    </div>
  
                    <!-- Password Input -->
                    <div class="mb-3">
                      <input
                        class="form-control form-control-user"
                        type="password"
                        id="password"
                        placeholder="Password"
                        formControlName="password"
                        [class.is-invalid]="
                          loginForm.get('password')?.invalid &&
                          (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
                        "
                      />
                      <div
                        *ngIf="
                          loginForm.get('password')?.invalid &&
                          (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
                        "
                        class="invalid-feedback"
                      >
                        <small>Password is required.</small>
                      </div>
                    </div>
  
                    <!-- Remember Me Checkbox -->
                    <div class="mb-3">
                      <div class="custom-checkbox small">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="rememberMe" />
                          <label class="form-check-label" for="rememberMe">Remember Me</label>
                        </div>
                      </div>
                    </div>
  
                    <!-- Login Button -->
                    <button
                      class="btn btn-primary d-block btn-user w-100"
                      type="submit"
                      [disabled]="loginForm.invalid || isLoginDisabled"
                    >
                      Login
                    </button>
                    <hr />
                   
                  </form>
                  <!-- Links -->
                  <div class="text-center">
                    <a class="small" href="/forgot-password">Forgot Password?</a>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  