<div class="container-fluid">
    <h3 class="text-dark mb-4">Courses</h3>
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Course Info</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Instructor</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of courses">
                <!-- Display Course Image with fixed width -->
                <td><img [src]="course.image" alt="{{ course.name }}" class="course-image" /></td>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.trainerName }}</td>
                <td>
                  <span
                    [ngClass]="{
                      'text-success': course.accepted === 'OUI',
                      'text-warning': course.accepted === 'NON'
                    }"
                  >
                    {{ course.accepted }}
                  </span>
                </td>
                <td>
                  <button
                    *ngIf="course.accepted === 'NON'"
                    class="btn btn-primary btn-sm"
                    (click)="acceptCourse(course.courseId)"
                  >
                    Accept
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  